.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #367E18;
}

h1 {
  margin: 30px;
  font-family: 'Gajraj One', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 6rem;
  color: #fff;
}

p {
  font-size: 2rem;
  color: #000;
  font-family: 'Space Mono', monospace;
}

img {
  width: 80%;
}

.table-img{
  position: relative;
  z-index: -1;

}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
